:root {
    --offwhite: #f8fbfa;
    --ltgray: #ecf2ef;
    --mdgray: #e6ede9;
    --dkmdgray: #d7e0db;
    --dkgray: #303432;
    --ltgreen: #578f74;
    --mdgreen: #206745;
    --dkgreen: #0e472c;
    --ltsage: #c3e0d2;
    --sage: #94b5a5;
    --ltlime: #dff4ba;
    --mdlime: #76ba00;
    --dklime: #4f7d00;
    --ltberry: #e09fb9;
    --berry: #7a0c38;
    --dkberry: #330215;
}

body {
    background-color: var(--mdgray);
    font-family: Inter, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: Indivisible, sans-serif;
    font-weight: 600;
    text-align: center;
    color: var(--dkgreen);
}


h2 {
    font-family: Indivisible, sans-serif;
    font-weight: 500;
    color: var(--dkgreen);
    font-size: 1.5rem;
    text-align: center;
}

p {
    font-size: 1.1rem;
    font-weight: 400;
}

.spacer {
    height: 100px;
}

.spacer.spacer-hr {
    height: 30px;
    border-bottom: 1px solid var(--dkgreen);
    margin: 0px auto 70px auto;
    width: 60%;
}

.spacer.spacer-small {
    height: 25px;
}

.main-content-section {
    width: 90%;
    max-width: 750px;
    margin: auto;
    text-align: center;
}

.source-link {
    color: var(--dkgreen);
    font-size: 0.9rem;
    margin-left: -2px;
    margin-right: 2px;
}

.source-link:hover {
    color: var(--mdlime);
}

.button-link {
    background-color: var(--berry);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    border: 3px solid var(--berry);
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.button-link:hover, .button-link:active, .button-link:focus {
    background-color: rgba(256,256,256,0);
    color: var(--berry);
    cursor: pointer;
}

.button-link-green {
    background-color: var(--dkgreen);
    border-color: var(--dkgreen);
}

.button-link-green:hover, .button-link-green:active, .button-link-green:focus {
    color: var(--dkgreen);
}

.button-link-lime {
    background-color: var(--mdlime);
    border-color: var(--mdlime);
}

.button-link-lime:hover, .button-link-lime:active, .button-link-lime:focus {
    color: var(--mdlime);
}

.navbar .navbar-toggler-icon {
    background-image: url(assets/dot-menu.svg)!important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none!important;
    box-shadow: none!important;
    border: none!important;
}

.navbar {
    background-image: linear-gradient(rgba(236, 242, 239, 0.7) 0%, rgba(236, 242, 239, 0.5) 30%, rgba(236, 242, 239, 0));
    padding-bottom: 50px;
    /* background-color: rgba(236, 242, 239, .7); */
    font-family: Inter, sans-serif;
    z-index: 3;
}

.nav-item a {
    color: var(--dkgreen);
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: var(--dkgreen);
    cursor: default;
    font-weight: 800;
}

.nav-item a:hover, .nav-item a:focus, .nav-item a:active {
    color: var(--ltgreen);
}

.navbar-brand, .footer-brand {
    color: var(--dkgreen);
    font-size: 1.2rem;
}

.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
    color: var(--ltgreen);
}


#navbar-page-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: rgba(236, 242, 239, .7);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    display: block;
}

@media screen and (max-width: 992px) {
    
    #navbar-page-overlay.navbar-page-overlay-show {
        visibility: visible;
        opacity: 1;
    }

}



header {
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    padding: 100px 10px;
    box-shadow: inset 0px 0px 15px rgba(0,0,0,0.2);
}


header h1 {
    font-family: Indivisible, sans-serif;
    font-weight: 600;
    color: var(--berry);
    margin-bottom: 30px;
}


header p {
    margin-bottom: 40px;
}

header.hero {
    height: 90vh;
}

header.header-content-block {
    height: auto;
    min-height: 100vh;
    
}

.header-darken {
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}


header .header-content {
    margin: 0px auto;
    width: 80%;
    max-width: 1000px;
    padding: 50px 40px 70px 40px;
}


header.hero .header-content {
    max-width: 500px;
    z-index: 1;
}

header .header-content.header-content-white {
    background-color: var(--mdgray);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    padding: 80px;
    margin-bottom: 100px;
}


@media screen and (max-width: 992px) {
    header .header-content.header-content-white {
        padding: 30px;
    }
}

#home-header {
    background-image: url("assets/powerlines-extended.png");
    /* background-image: url("assets/turbines-fog.png"); */
    background-position: 50% 50%;
}

#programs-header {
    background-image: url("assets/drone-houses.jpg");
    background-position: 50% 50%;
}

#programs-header h1 {
    color: white;
    text-shadow: 0px 0px 25px rgba(0,0,0,0.9);
}

#references-header {
    background-image: url("assets/wind-2.png");
    background-position: 50% 70%;
}

#references-header h1 {
    color: white;
    text-shadow: 0px 0px 25px rgba(0,0,0,0.9);
}

#learn-header {
    background-image: url("assets/reservoir-header.png");
    background-position: 50% 50%;
}

#learn-header h1 {
    color: white;
    text-shadow: 0px 0px 25px rgba(0,0,0,0.9);
}

#home-header-environment {
    background-image: url("assets/seedlings.jpg");
    background-position: 50% 50%;
}

#home-energy-use-header {
    background-image: url("assets/kitchen.png");
    background-position: 50% 50%;
}


.svg-overlay {
    width: 106%;
    height: 500px;
    min-width: 1000px;
    background-position-x: right;
    margin-top: -498px;
    background-size: contain;
    background-position-y: bottom;
    background-repeat: no-repeat;
    color: white;
    filter: drop-shadow(0px -5px 3px rgba(0,0,0,0));
    pointer-events: none;
}

.svg-overlay-right {
    background-position-x: right;
    float: right;
    margin-right: -5%;
}

.svg-overlay-left {
    background-position-x: left;
    float: left;
    margin-left: -5%;
}

.svg-overlay.svg-overlay-wind{
    background-image: url("assets/windmills.svg")
}

.svg-overlay.svg-overlay-solar {
    background-image: url("assets/solar.svg")
}

.svg-overlay.svg-overlay-solar-green {
    background-image: url("assets/solar-green.svg")
}

.svg-overlay.svg-overlay-geo-green {
    background-image: url("assets/geo-green.svg")
}

.svg-overlay.svg-overlay-hydro {
    background-image: url("assets/hydro.svg")
}

.svg-overlay.svg-overlay-marine-green {
    background-image: url("assets/marine-green.svg")
}

.svg-overlay.svg-overlay-plain-white {
    background-image: url("assets/mountain-white.svg")
}

.svg-overlay.svg-overlay-plain-green {
    background-image: url("assets/mountain-green.svg")
}







@media screen and (max-width: 992px) {
    .learn-svg {
        width: 1100px;
    }
    .learn-section-odd .learn-svg {
        margin-right: -80px;
        margin-top: -500px;
        float: right;
    }
    .learn-section-even .learn-svg {
        margin-left: -120px;
        margin-top: -500px;
        float: left;
    }
    .learn-section p {
        font-size: 1rem;
    }
    .learn-section p, .learn-section h1 {
        margin-right: 20px;
    }
    .learn-section p.space-bottom {
        margin-bottom: 100px;
    }
    .learn-section.learn-section-focus .learn-svg {
        filter: drop-shadow(0px -5px 3px rgba(0,0,0,0.01));
        margin-top: -518px;
    }
}


.stat-block h1 {
    margin: 0px;
    font-size: 3.5rem;
}


.stat-block p {
    margin: 0px;
    font-weight: 400;
    font-size: 1.3rem;
}

.stat-block {
    margin: 20px 0px 40px 0px;
}

.green-fill {
    padding: 0px;
    margin: 0px;
    background-color: var(--ltsage);
}

.sidebar {
    /* height: 100vh; */
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    position: sticky;
    top: 100px;
    left: 0;
    z-index: 1;
    margin-top: 5%;
    margin-left: 2%;
    /* background-image: linear-gradient(transparent, white, transparent); */
}

.sidebar ul {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.sidebar li {
    list-style: none;
    margin: 10px 0px;
    
    /* text-shadow: 0px 0px 20px var(--ltsage); */
    /* margin-left: -36px; */
}

.sidebar li a {
    text-decoration: none;
    color: var(--sage);
    font-size: 1.1rem;
    font-weight: 400;
    transition: all 0.2s ease;
}

.sidebar li a:hover, .sidebar li a:focus, .sidebar li a:active {
    color: var(--berry);
}

.sidebar li a.active-page-location {
    color: var(--berry); 
}

.sidebar-header p {
    font-weight: 800;
    color: var(--dkgreen);
    text-align: center;
    border-bottom: 1px solid var(--sage);
    padding-bottom: 10px;
    width: 80%;
    margin: 0px auto 20px auto;
}

.sidebar i {
    width: 30px;
    height: 30px;
    text-align: center;
    /* background-color: var(--mdgray);
    padding: 6px;
    border-radius: 30px; */
    transition: color 0.4s ease;
}

.sidebar i.adjust-smaller {
    font-size: 0.9rem;
}

.sidebar li a.active-page-location i {
    color: var(--berry);
    /* color: var(--mdgray);
    background-color: var(--berry);  */
}

.sidebar span {
    margin-left: 5px;
}

.sidebar-left {
    margin: 0px;
    padding: 0px;
}

.learn-section-darken {
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
    /* z-index: 1; */
}

.learn-section {
    padding: 40px 20px 40px 250px;
}

.learn-section.learn-section-bg {
    color: white;
}

.learn-section.learn-section-bg h1, .learn-section.learn-section-bg a {
    color: white;
}

.learn-section.learn-section-bg a:hover, .learn-section.learn-section-bg a:active, .learn-section.learn-section-bg a:focus {
    color: var(--ltsage);
}

.learn-section-container {
    margin: auto;
    text-align: left;
    padding: 25px;
    width: 100%;
    max-width: 800px;
}
.learn-section-container h1, .learn-section-container h2 {
    text-align: left;
    margin-bottom: 20px;
}
.learn-section-container p {
    font-size: 1.2rem;
}

#section-solar {
    background-image: url("assets/solar-house.png");
}

#section-geo {
    background-image: url("assets/geyser.jpg");
}

#section-bio {
    background-image: url("assets/corn.jpg");
}

#section-env {
    background-image: url("assets/learn-bg-images/env.jpg");
}

@media screen and (max-width: 992px) {
    .learn-section {
        padding-left: 50px;
    }
    .sidebar {
        width: 100%;
        padding: 0;
        height: 70px;
        flex-direction: row;
        float: bottom;
        position: fixed;
        bottom: -20px;
        top: auto;
        z-index: 1;
        margin: 0px;
    }
    .sidebar ul {
        padding: 5px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 0px;
    }
    #learn-body {
        margin-bottom: 50px;
    }
    
}

#learn-background-image-1, #learn-background-image-2, #learn-background-overlay, #learn-sidebar-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#learn-background-image-1, #learn-background-image-2 {
    background-image: url("assets/learn-bg-images/about.jpg");
    background-size: cover;
    opacity: 100%;
    transition: opacity 0.5s ease-in-out;
}

#learn-background-image-2.learn-background-image-inactive, #learn-background-image-1.learn-background-image-inactive {
    opacity: 0%;
}

#learn-background-overlay {
    background-color: rgba(87, 143, 116, 0.2);
}

#learn-sidebar-overlay {
    background-image: linear-gradient(90deg, rgba(230, 237, 233, 1), rgba(230,237,233,0) 30%)
}

.reveal-container {
    display: flex;
    flex-direction: row;
}

.reveal {
    position: relative;
    bottom: 0px;
    opacity: 100%;
    transition: all 0.5s ease-in;
}

.reveal.reveal-delay {
    transition-delay: 0.3s;
}

.reveal.reveal-block {
    background-color: white;
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    margin: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    flex: 1;
}

.reveal.reveal-block h1 {
    color: var(--mdlime);
}
/* .reveal.reveal-block p {
    color: var(--dklime);
} */

.reveal-hidden {
    opacity: 0%;
    bottom: -50px;
    transition: none;
}

.reveal-1 {
    transition-delay: 0s;
}
.reveal-2 {
    transition-delay: 0.25s;
}
.reveal-3 {
    transition-delay: 0.5s;
}


@media screen and (max-width: 992px) {
    .reveal-container {
        flex-direction: column;
    }

    .reveal {
        padding: 20px 20px 50px 20px;
    }
    
}

table {
    margin: 50px;
    border: none;
}

table tr {
    background-color: rgba(255,255,255,0.5);
    padding: .35em;
    transition: all 0.2s ease;
    border: none;
}

table tbody tr:hover, table tbody tr:active, table tbody tr:focus {
    background-color: var(--dkmdgray);
    transform: scale(1.015);
    /* box-shadow: 0px 0px 15px rgba(0,0,0,0.1); */
}

tr:nth-child(even) {
    background-color: white;
}

table th, table td {
    padding: 20px;
}

table th {
    font-weight: 400;
}

.th-centered {
    text-align: center;
}

table thead th {
    color: var(--dkgreen);
    font-weight: 800;
}

table thead {
    background-color: white;
}


table a {
    color: var(--berry);
    font-weight: 600;
    text-decoration: none;
}

table a.button-link {
    color: var(--berry);
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    width: 100%;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    text-align: center;
}

table tr:hover a.button-link, table tr:focus a.button-link, table tr:active a.button-link {
    color: var(--mdgray);
    background-color: var(--berry);
}

table a.button-link:hover, table a.button-link:active, table a.button-link:focus {
    background-color: transparent!important;
    color: var(--berry)!important;
    border-color: var(--berry);
}


table a:hover, table a:active, table a:focus {
    color: var(--ltberry);
}

@media screen and (max-width: 1024px) {

    table {
        margin: 15px;
        
    }

    table th {
        color: var(--dkgreen);
        font-weight: 600;
        font-size: 1.3rem;
        margin: auto;
        text-align: center;
        width: 100%;
        display: inline-block;
    }

    table thead {
        display: none;
    }
    
    table tr {
        background-color: white;
        display: block;
        margin: 50px 0px;
        border-radius: 15px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    }

    table tbody tr:hover, table tbody tr:active, table tbody tr:focus {
        transform: none;
        background-color: white;
    }

    table tr .button-link {
        background-color: var(--berry);
        border-color: var(--berry);
        color: white;
        width: 80%;
        align-self: flex-start;
        margin: auto;
    }
    
    table td {
        border-bottom: 1px solid var(--mdgray);
        display: block;
        text-align: right;
        padding-left: 120px;
        
    }
    
    table td::before {
        content: attr(data-label);
        float: left;
        color: var(--dkgreen);
        font-weight: 700;
        position: relative;
        right: 100px;
    }
    
    table td:last-child {
        border-bottom: 0;
    }
}

footer {
    background-color: var(--dkberry);
    color: var(--ltberry);
    padding: 15px;
    text-align: center;
}

footer .footer-brand {
    color: var(--ltberry);
    font-size: 0.9rem;
}

footer p {
    margin: 0px;
    font-size: 0.8rem;
    display: inline;
    padding: 0px 10px;
}

.content-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.content-grid-column {
    display: flex;
    flex-direction: column;
    
}

.content-grid-block {
    background-color: var(--offwhite);
    padding: 30px 20px;
    margin: 20px;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.01);
}

.content-grid-block a {
    color: var(--dkgreen);
    text-decoration: none;
    font-weight: 600;
}

.content-grid-block a:hover, .content-grid-block a:active, .content-grid-block a:focus {
    color: var(--mdlime);
}

.content-grid-block h2 {
    padding-bottom: 15px;
    margin: 10px auto 20px auto;
    border-bottom: 1px solid var(--mdgray);
    width: 70%;
}

@media screen and (max-width: 992px) {
    .content-grid {
        flex-direction: column;
        align-items: center;
    }
}