:root {
    --offwhite: #f8fbfa;
    --ltgray: #ecf2ef;
    --mdgray: #e6ede9;
    --dkgray: #303432;
    --mdgreen: #206745;
    --dkgreen: #0e472c;
    --ltlime: #dff4ba;
    --mdlime: #76ba00;
    --dklime: #2d4601;
    --berry: #7a0c38;
}

body {
    background-color: var(--offwhite);
    font-family: Inter, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: Indivisible, sans-serif;
    font-weight: 700;
}

h2 {
    font-family: Indivisible, sans-serif;
    font-weight: 500;
    font-style: italic;
}

@keyframes button-link-hover-on {
    from {
        background-color: var(--berry);
        color: white;
    }
    to {
        background-color: rgba(0,0,0,0);
        color: var(--berry);
    }
}

@keyframes button-link-hover-off {
    from {
        background-color: rgba(0,0,0,0);
        color: var(--berry);
    }
    to {
        background-color: var(--berry);
        color: white;
    }
}

.button-link {
    animation-name: button-link-hover-off;
    animation-duration: 0.5s;
    background-color: var(--berry);
    padding: 7px 20px 10px 20px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    border: 3px solid var(--berry);
}

.button-link:hover, .button-link:active, .button-link:focus {
    animation-name: button-link-hover-on;
    animation-duration: 0.5s;
    background-color: rgba(0,0,0,0);
    color: var(--berry);
    cursor: pointer;
}

.navbar .navbar-toggler-icon {
    background-image: url(assets/dot-menu.svg)!important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none!important;
    box-shadow: none!important;
    border: none!important;
}

.navbar {
    background-image: linear-gradient(rgba(236, 242, 239, 0.7) 0%, rgba(236, 242, 239, 0.5) 30%, rgba(236, 242, 239, 0));
    padding-bottom: 50px;
    /* background-color: rgba(236, 242, 239, .7); */
    font-family: Inter, sans-serif;

}

.nav-item a {
    color: black;
    font-weight: 600;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.navbar-nav .nav-link.active {
    color: black;
    border-color: black;
    cursor: default;
}

.nav-item a:hover, .nav-item a:focus, .nav-item a:active {
    color: var(--mdgreen);
}

.navbar-brand {
    color: black;
}

header {
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-family: Inter, sans-serif;
    font-weight: 700;
    color: var(--berry);
    margin-bottom: 20px;
}

header a {
    font-size: 1.2rem;
}

header.hero {
    width: 100%;
    height: 100vh;
}

header .header-content {
    margin: auto;
    max-width: 30%;
}

#home-header {
    background-image: url("assets/powerlines-extended.png");
    background-position: 50% 50%;
}